<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Multi page Demo in spring mvc</h1>

        <form action="#" th:action="@{/doSomethingElse}" th:object="${user}"   method="post">
           First Name: <input type="text" th:field="*{firstName}" /> <br/>
           Last Name: <input type="text" th:field="*{lastName}" /><br/>
           Email: <input type="text" th:field="*{email}" /><br/>

            <input type="submit" value="Next"/>
        </form>

</body>
</html>